</html>
<!DOCTYPE html>
<html lang="en">
<head> <meta charset="utf-8">
    <title>Calculatar</title>
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>
<body>
    <button class="menu" id='all_star'>all_star</button><br>
    <button class="menu" id='random'>random</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#all_star').click(function(){
        window.location.replace('http://127.0.0.1:5000/all')
    })
</script>
</html>